<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/informacion-dispositivos.css') }}">
    <title>Información Dispositivo</title>
</head>
<body>

    <div class="main-container" id="container" >
        <div class="container">
            <div class="titulo">
                <p id="titulo1">Información de Contacto</p>
            </div>
            <div class="formulario" id="informacion-contacto">
                <div id="nombre-donante" class="grupo-span">
                    <label>Nombre Donante:</label>
                    <span id="nombre">{{ data.nombre }}</span>
                </div>
    
                <div id="email-donante" class="grupo-span">
                    <label>Email Donante:</label>
                    <span id="email">{{ data.email }}</span>
                </div>
                
                <div id="celular-donante" class="grupo-span">
                    <label>Número Celular Donante:</label>
                    <span id="celular">{{ data.numero }}</span>
                </div>
                <div id="region-donante" class="grupo-span">
                    <label>Región:</label>
                    <span id="region">{{ data.region }}</span>
                </div>
                <div id="comuna-donante" class="grupo-span">
                    <label>Comuna:</label>
                    <span id="comuna">{{ data.comuna }}</span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="titulo">
                <p id="titulo2">Información dispositivo</p>
            </div>
            <div class="formulario" id="informacion-dispositivo">
                <div id="nombre-dispositivo" class="grupo-span">
                    <label>Nombre dispositivo:</label>
                    <span id="dispositivo">{{ data.dispositivo }}</span>  
                </div>
                <div id="descripcion-dispositivo" class="grupo-span">
                    <label>Descripción:</label>
                    <div id="descripcion">{{ data.descripcion }}</div>
                </div>
                <div id="tipo-dispositivo" class="grupo-span">
                    <label>Tipo:</label>
                    <span id="tipo">{{ data.tipo }}</span>
                </div>
                <div id="años-dispositivo" class="grupo-span">
                    <label>Años de uso:</label>
                    <span id="años">{{ data.años }}</span>
                </div>
                <div id="estado-dispositivo" class="grupo-span">
                    <label>Estado funcionamiento:</label>
                    <span id="estado">{{ data.estado }}</span>
                </div>
                <div id="imagen-dispositivo" class="grupo-span">
                    <label>Fotos de Productos:</label>
                    {% for foto in dir_fotos %}
                        <img class="img" src="{{ foto }}" alt="Foto del producto" width="640" height="480">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="com-form">
            <h1>Agrega un comentario</h1>
            <form id="com-form" method="POST" enctype="multipart/form-data" action="/informacion-dispositivo/{{ data.dispositivo_id }}">
                <div>
                    <label for="com-text-area-name">Nombre: </label>
                    <input name="com-text-area-name" id="com-text-area-name" size="80">
                </div>
                <div>
                    <label for="com-text-area">Comentario: </label>
                    <textarea name="com-text-area" id="com-text-area" cols="50" rows="4"></textarea>
                </div>
                <div id="val-box" hidden>
                    <h2 id="val-msg">mensaje</h2>
                    <ul id="val-list"></ul>
                </div>
                <button type="submit" id="submit-com-btn">Enviar</button>
            </form>

        </div>
        <div class="com-list">
            <h1>Comentarios</h1>
            <div class="com-container">
                {% for comm in data2 %}
                    <div class="com-fecha">
                        <p>{{ comm.fecha }}</p>
                    </div>
                    <div class="com-author">
                        <p>{{ comm.nombre }}</p>
                    </div>
                    <p>{{ comm.texto }}</p>
                {% endfor %}
            </div>
        </div>
    </div>


    <div class="opciones-menu">
        <button type="button" id="ver-dispositivos" onclick="window.location.href='{{ url_for('verDispositivos')}}'"> Ver Dispositivos</button>
        <button type="button" id="menu-principal" onclick="window.location.href='{{ url_for('index')}}'"> Volver al menu principal</button>
    </div>
    <div id="imageModal" class="modal">
        <span class="close" id="closeModal">&times;</span>
        <img class="modal-content" id="modalImage" alt="Imagen grande" src="../imagenes/switch.png"> 
    </div>

    <script src="../static/javascript/informacion-dispositivo/informacion-dispositivo-agrandar-imagen.js"></script>
    <script src="../static/javascript/informacion-dispositivo/informacion-dispositivos-mostrar-correcto.js"></script>
    <!-- <script src="../static/javascript/informacion-dispositivo/informacion-dispositivo-validar-comm.js"></script> -->
</body>
</html>