<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver dispositivos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ver-dispositivos.css') }}">
</head>
<body>

    <div class="logo">
        <p id="title">Ver dispositivos</p>
    </div>
    <div class = "table">
        <table>
            <tr>
                <th>Tipo</th>
                <th>Nombre Dispositivo</th>
                <th>Estado</th>
                <th>Comuna</th>
                <th>Fotos</th>
            </tr>
        
            {% for dispositivo in data %}
            <tr onclick="location.href='{{ url_for('informacionDispositivo', id=dispositivo.id) }}'" style="cursor: pointer;">
                <td>{{ dispositivo.tipo }}</td>
                <td>{{ dispositivo.nombreDispositivo }}</td>
                <td>{{ dispositivo.estado }}</td>
                <td>{{ dispositivo.comuna }}</td>
                <td>
                    {% for archivo in dispositivo.dirFotos %}
                        <img src="{{ archivo }}" alt="Foto dispositivo" width="120" height="120">
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
        
        <div class="pagination">
            {% if page > 1 %}
                <button type="button" id="ant" onclick="window.location.href='{{ url_for('verDispositivos', page=page-1) }}'"> Anterior</button>
            {% endif %}
            <button type="button" id="sgte" onclick="window.location.href='{{ url_for('verDispositivos', page=page+1) }}'"> Siguiente</button>
        </div>

    </div>
    <div class="menu">
        <button type="button" id="main-menu" onclick="window.location.href='{{ url_for('index')}}'"> Volver al menu principal</button>
    </div>
</body>
</html>