:root {
  --border-color: #000000; /* Root variable for border color */
}

.container {
  border: 1px solid var(--border-color);
  height: 50%;
  max-width: 600px;
  margin: 2% auto;
  padding: 2rem;
  padding-top: 0.5rem;
  background-color: #ffffff;
}

#title {
  text-align: center;
  font-size: x-large;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.menu-options {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

label {
  padding-bottom: 1rem;
  cursor: pointer;
}

#add-donation {
  background-color: #4bb4f8;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  padding: 2% 5%;
  width: 100%;
  cursor: pointer;
}

#add-donation:hover {
  background-color: #1177bb;
}

#view-devices {
  background-color: #4bb4f8;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  padding: 2% 5%;
  width: 100%;
  cursor: pointer;
}

#view-devices:hover {
  background-color: #1177bb;
}
